@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

$text-color: #d0d6f9;
$btn-text-color: #0b0d17;
$neutral: #fff;
$nav-neutral: #979797;
$barlow: "Barlow Condensed", sans-serif;
$bella: "Bellefair", serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
	--step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
	--step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
	--step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
	--step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
	--step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
	--step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
	--step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

// REMOVE ABOVE AFTER PROJECT COMPLETE AND MAKE A CSS FILE TO IMPORT FOR ALL PAGES ⬆⬆⬆

.background--destinations {
	background-image: url("../destination/background-destination-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.main--destinations {
	margin-top: 0;
	gap: 2rem;

	&--nav--location {
		text-transform: uppercase;
		font-family: $barlow;
		letter-spacing: 4.75px;
		font-size: var(--step--1);
		color: $neutral;
		margin: 2rem 0;
	}

	&--slider_list {
		display: flex;
		justify-content: space-evenly;
		list-style-type: none;
		text-transform: uppercase;
		margin-top: 2rem;
		font-family: $barlow;
		font-size: var(--step-0);
		letter-spacing: 2px;
		position: relative;
		z-index: 1;
		gap: 1rem;
	}

	&--planet--heading {
		font-family: $bella;
		color: $neutral;
		text-transform: uppercase;
		font-size: var(--step-5);
		letter-spacing: 2px;
		font-weight: 300;
	}

	&--planet--info_text {
		font-size: var(--step--2);
		letter-spacing: 2.7px;
		padding: 0 1rem;
		line-height: 1.5;
		font-family: $barlow;
	}

	&--line {
		width: 100%;
		opacity: 0.3;
		background-color: $neutral;
	}

	&--distances_values {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-bottom: 5rem;
	}
}

.avg-distance,
.avg-time {
	font-family: $barlow;
	text-transform: uppercase;
	font-size: var(--step-0);
	letter-spacing: 4.75px;
	font-weight: 100;
}

.big-number {
	display: inline-flex;
	margin-top: 1rem;
	font-size: var(--step-3);
	color: $neutral;
	font-family: $bella;
	font-weight: 900;
}

// border animation
.main--slider_list--item {
	position: relative;
	display: inline-block;
	line-height: 1.7;

	&:hover {
		cursor: pointer;
		border-bottom: 5px solid rgba(255, 255, 255, 0.5);
		margin-bottom: -5px;
	}
}

.active {
	border-bottom: 5px solid $neutral;
	margin-bottom: -5px;
}

.nr {
	opacity: 0.4;
	font-weight: 900;
	margin: 0 0.4rem 0 0;
}

@media (min-width: 760px) {
	.background--destinations {
		background-image: url("../destination/background-destination-tablet.jpg");
		background-size: cover;
	}

	.main--moon {
		width: 25rem;
		height: 25rem;
	}

	.main--destinations--nav--location {
		align-self: start;
		font-size: var(--step-1);
		padding-left: 1rem;
	}

	.main--destinations--slider_list {
		font-size: var(--step-3);
		gap: 3rem;
	}

	.main--destinations--planet--heading {
		font-size: 7rem;
	}

	.main--destinations--planet--info_text {
		font-size: var(--step-1);
	}

	.main--destinations--distances_values {
		flex-direction: row;
	}

	.big-number {
		font-size: var(--step-4);
	}
}

@media (min-width: 1400px) {
	.background--destinations {
		background-image: url("../destination/background-destination-desktop.jpg");
		background-size: cover;
	}

	.main--destinations {
		position: relative;
		gap: 10rem;
		padding: 4%;

		&--nav--location {
			position: absolute;
		}

		&--slider_list {
			gap: 2rem;
			justify-content: start;
		}

		&--planet--heading {
			text-align: left;
			margin: 2rem 0;
		}

		&--line {
			margin: 4rem 0 1rem 1rem;
		}

		&--distances_values {
			text-align: left;
			margin-left: 1rem;
		}

		.main--destinations--planet--info_text {
			text-align: left;
		}
	}

	.main--moon {
		width: 35rem;
		height: 35rem;
	}

	.big-number {
		font-size: var(--step-2);
	}
}
