@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

html {
  box-sizing: inherit;
}

body {
  background-image: url("../home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #d0d6f9;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header--logo {
  width: 30%;
  padding: 1rem 0 0 0.5rem;
}
.header .logo {
  width: 2rem;
  height: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5rem;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  margin-top: 4rem;
}
.main--heading {
  font-size: var(--step--1);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
}
.main--heading--style {
  color: #fff;
  font-family: "Bellefair", serif;
  font-size: var(--step-5);
  text-transform: uppercase;
}
.main--intro_text {
  font-size: var(--step--2);
  padding: 0 0.5rem;
  line-height: 1.5;
}
.main--btn_explore {
  height: 12rem;
  width: 12rem;
  font-family: "Bellefair", serif;
  color: #0b0d17;
  font-size: var(--step-2);
  text-transform: uppercase;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 1;
}
.main--btn_explore:hover {
  box-shadow: 0 0 0 3rem rgba(151, 151, 151, 0.5);
  cursor: pointer;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

.background--destinations {
  background-image: url("../destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main--destinations {
  margin-top: 0;
  gap: 2rem;
}
.main--destinations--nav--location {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.75px;
  font-size: var(--step--1);
  color: #fff;
  margin: 2rem 0;
}
.main--destinations--slider_list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  margin-top: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--step-0);
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}
.main--destinations--planet--heading {
  font-family: "Bellefair", serif;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--step-5);
  letter-spacing: 2px;
  font-weight: 300;
}
.main--destinations--planet--info_text {
  font-size: var(--step--2);
  letter-spacing: 2.7px;
  padding: 0 1rem;
  line-height: 1.5;
  font-family: "Barlow Condensed", sans-serif;
}
.main--destinations--line {
  width: 100%;
  opacity: 0.3;
  background-color: #fff;
}
.main--destinations--distances_values {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;
}

.avg-distance,
.avg-time {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: var(--step-0);
  letter-spacing: 4.75px;
  font-weight: 100;
}

.big-number {
  display: inline-flex;
  margin-top: 1rem;
  font-size: var(--step-3);
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 900;
}

.main--slider_list--item {
  position: relative;
  display: inline-block;
  line-height: 1.7;
}
.main--slider_list--item:hover {
  cursor: pointer;
  border-bottom: solid rgba(255, 255, 255, 0.5);
}
.main--slider_list--item:active {
  border-bottom: 5px solid #fff;
}

.nr {
  opacity: 0.4;
  font-weight: 900;
  margin: 0 0.4rem 0 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

.background--crew {
  background-image: url("../crew/background-crew-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.main--crew {
  gap: 1rem;
  margin-top: 0;
  position: relative;
  z-index: 1;
  padding: 3%;
}
.main--crew--heading {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: var(--step-0);
  letter-spacing: 1.5px;
  font-weight: 100;
  color: #979797;
  margin: 1rem 0;
}
.main--crew--heading .name {
  display: inline-flex;
  font-size: var(--step-2);
  color: #fff;
  margin: 0.5rem 0;
}
.main--crew--info_text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--step--2);
  margin: 1rem 0;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.main--crew--line {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 10%;
  top: 47%;
  opacity: 0.5;
  background-color: #fff;
  transform: translate(-10% -47%);
}
.main--crew-dots {
  border: none;
  background-color: #fff;
  opacity: 0.7;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dot-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: end;
  text-align: center;
  margin: 1rem auto;
}

.style-for-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0b0d17;
  opacity: 0.3;
  z-index: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

.background--technology {
  background-image: url("../technology/background-technology-mobile.jpg");
  background-size: cover;
  background-position: bottom;
}

.main--technology {
  gap: 0;
  margin-top: 0;
}
.main--technology--vehicle {
  width: 100%;
  margin: 2rem 0;
}
.main--technology-btns {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
.main--technology-btns .btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  font-size: var(--step--1);
  font-family: "Bellefair", serif;
}
.main--technology-btns .btn:hover {
  background-color: #fff;
  color: #0b0d17;
}
.main--technology--info {
  padding: 4%;
}

/*# sourceMappingURL=main.css.map */
