@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

html {
  box-sizing: inherit;
}

body {
  background-image: url("../home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #d0d6f9;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header--logo {
  width: 30%;
  padding: 1rem 0 0 0.5rem;
}
.header .logo {
  width: 2rem;
  height: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5rem;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  margin-top: 4rem;
}
.main--heading {
  font-size: var(--step--1);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
}
.main--heading--style {
  color: #fff;
  font-family: "Bellefair", serif;
  font-size: var(--step-5);
  text-transform: uppercase;
}
.main--intro_text {
  font-size: var(--step--2);
  padding: 0 0.5rem;
  line-height: 1.5;
}
.main--btn_explore {
  height: 12rem;
  width: 12rem;
  font-family: "Bellefair", serif;
  color: #0b0d17;
  font-size: var(--step-2);
  text-transform: uppercase;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 1;
}
.main--btn_explore:hover {
  box-shadow: 0 0 0 3rem rgba(151, 151, 151, 0.5);
  cursor: pointer;
}

@media (min-width: 700px) {
  body {
    background-image: url("../home/background-home-tablet.jpg");
  }
  .header .logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .main {
    justify-content: center;
    margin-top: 2rem;
  }
  .main--heading {
    font-size: var(--step-1);
  }
  .main--heading--style {
    font-size: 10rem;
  }
  .main--intro_text {
    font-size: var(--step-1);
    padding: 2rem;
  }
  .main--btn_explore {
    height: 24rem;
    width: 24rem;
    font-size: var(--step-4);
  }
}
@media (min-width: 1400px) {
  body {
    background-image: url("../home/background-home-desktop.jpg");
    background-size: cover;
    background-position: right;
  }
  .header .logo {
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
  }
  .main {
    flex-direction: row;
    justify-content: space-between;
  }
  .main--flex-container {
    width: 50%;
    text-align: left;
    margin-left: 10rem;
  }
  .main--intro_text {
    padding: 0;
    width: 45ch;
  }
  .main--btn_explore {
    margin-right: 5rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

.background--destinations {
  background-image: url("../destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main--destinations {
  margin-top: 0;
  gap: 2rem;
}
.main--destinations--nav--location {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.75px;
  font-size: var(--step--1);
  color: #fff;
  margin: 2rem 0;
}
.main--destinations--slider_list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  margin-top: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--step-0);
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  gap: 1rem;
}
.main--destinations--planet--heading {
  font-family: "Bellefair", serif;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--step-5);
  letter-spacing: 2px;
  font-weight: 300;
}
.main--destinations--planet--info_text {
  font-size: var(--step--2);
  letter-spacing: 2.7px;
  padding: 0 1rem;
  line-height: 1.5;
  font-family: "Barlow Condensed", sans-serif;
}
.main--destinations--line {
  width: 100%;
  opacity: 0.3;
  background-color: #fff;
}
.main--destinations--distances_values {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;
}

.avg-distance,
.avg-time {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: var(--step-0);
  letter-spacing: 4.75px;
  font-weight: 100;
}

.big-number {
  display: inline-flex;
  margin-top: 1rem;
  font-size: var(--step-3);
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 900;
}

.main--slider_list--item {
  position: relative;
  display: inline-block;
  line-height: 1.7;
}
.main--slider_list--item:hover {
  cursor: pointer;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  margin-bottom: -5px;
}

.active {
  border-bottom: 5px solid #fff;
  margin-bottom: -5px;
}

.nr {
  opacity: 0.4;
  font-weight: 900;
  margin: 0 0.4rem 0 0;
}

@media (min-width: 760px) {
  .background--destinations {
    background-image: url("../destination/background-destination-tablet.jpg");
    background-size: cover;
  }
  .main--moon {
    width: 25rem;
    height: 25rem;
  }
  .main--destinations--nav--location {
    align-self: start;
    font-size: var(--step-1);
    padding-left: 1rem;
  }
  .main--destinations--slider_list {
    font-size: var(--step-3);
    gap: 3rem;
  }
  .main--destinations--planet--heading {
    font-size: 7rem;
  }
  .main--destinations--planet--info_text {
    font-size: var(--step-1);
  }
  .main--destinations--distances_values {
    flex-direction: row;
  }
  .big-number {
    font-size: var(--step-4);
  }
}
@media (min-width: 1400px) {
  .background--destinations {
    background-image: url("../destination/background-destination-desktop.jpg");
    background-size: cover;
  }
  .main--destinations {
    position: relative;
    gap: 10rem;
    padding: 4%;
  }
  .main--destinations--nav--location {
    position: absolute;
  }
  .main--destinations--slider_list {
    gap: 2rem;
    justify-content: start;
  }
  .main--destinations--planet--heading {
    text-align: left;
    margin: 2rem 0;
  }
  .main--destinations--line {
    margin: 4rem 0 1rem 1rem;
  }
  .main--destinations--distances_values {
    text-align: left;
    margin-left: 1rem;
  }
  .main--destinations .main--destinations--planet--info_text {
    text-align: left;
  }
  .main--moon {
    width: 35rem;
    height: 35rem;
  }
  .big-number {
    font-size: var(--step-2);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

.background--crew {
  background-image: url("../crew/background-crew-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.main--crew {
  gap: 1rem;
  margin-top: 0;
  position: relative;
  z-index: 1;
  padding: 3%;
}
.main--crew--heading {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: var(--step-0);
  letter-spacing: 1.5px;
  font-weight: 100;
  color: #979797;
  margin: 1rem 0;
}
.main--crew--heading .name {
  display: inline-flex;
  font-size: var(--step-2);
  color: #fff;
  margin: 0.5rem 0;
}
.main--crew--info_text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--step--2);
  margin: 1rem 0;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.main--crew--line {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 10%;
  top: 50%;
  opacity: 0.5;
  background-color: #fff;
  transform: translate(-10% -50%);
}
.main--crew-dots {
  border: none;
  background-color: #fff;
  opacity: 0.7;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dot-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: end;
  text-align: center;
  margin: 1rem auto;
}

.style-for-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0b0d17;
  opacity: 0.3;
  z-index: 0;
}

@media (min-width: 700px) {
  .background--crew {
    background-image: url("../crew/background-crew-tablet.jpg");
  }
  .main--crew {
    justify-content: start !important;
  }
  .main--crew--line {
    display: none;
  }
  .main--crew--container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .main--crew--info_text {
    font-size: var(--step-1);
    line-height: 2;
  }
  .main--crew-dots {
    width: 1rem;
    height: 1rem;
    margin-top: 2rem;
  }
  .role {
    font-size: var(--step-3);
    letter-spacing: 20px;
  }
  .main--crew--heading .name {
    font-size: var(--step-5);
  }
  .crew--member {
    margin-top: 7rem;
    width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 1400px) {
  .background--crew {
    background-image: url("../crew/background-crew-desktop.jpg");
  }
  .main--crew--container {
    flex-direction: row-reverse;
    gap: 11rem;
  }
  .main--crew----info {
    text-align: left;
    margin: 5rem auto;
    width: 50%;
  }
  .dot-container {
    justify-content: start;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

.background--technology {
  background-image: url("../technology/background-technology-mobile.jpg");
  background-size: cover;
  background-position: bottom;
}

.main--technology {
  gap: 0;
  margin-top: 0;
}
.main--technology--vehicle {
  width: 100%;
  margin: 2rem 0;
}
.main--technology-btns {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
.main--technology-btns .btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  font-size: var(--step--1);
  font-family: "Bellefair", serif;
}
.main--technology-btns .btn:hover {
  background-color: #fff;
  color: #0b0d17;
}
.main--technology--info {
  padding: 4%;
}

@media (min-width: 700px) {
  .techno {
    width: 100%;
  }
  .main--technology--vehicle {
    width: 100%;
    height: 20rem;
  }
  .main--technology-btns .btn {
    width: 5rem;
    height: 5rem;
    font-size: var(--step-2);
    margin: 0 0.5rem;
  }
}
@media (min-width: 1400px) {
  .background--technology {
    background-image: url("../technology/background-technology-desktop.jpg");
  }
  .main--technology {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 4%;
    gap: 4rem;
  }
  .main--technology-btns {
    grid-column: 1;
    flex-direction: column;
    grid-row: 2;
  }
  .main--technology--info {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
  }
  .techno {
    grid-column: 3/span 2;
    grid-row: 2;
  }
  .main--crew--heading .techno-name {
    font-size: var(--step-3);
  }
  .main--crew--heading .techno-role {
    font-size: var(--step-2);
  }
  .main--technology--info_container .techno--text {
    font-size: var(--step-0);
  }
}

/*# sourceMappingURL=main.css.map */
