@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
.nav {
  font-family: "Bellefair", serif;
  color: #fff;
  font-size: var(--step-0);
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 80%;
  overflow: hidden;
}
.nav--hamburger {
  position: absolute;
  top: 3%;
  right: 3%;
  transform: translate(-3%, -3%);
  z-index: 10;
}
.nav--ul {
  list-style-type: none;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  min-height: 100vh;
  align-items: start;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-left: 2rem;
}
.nav--li--anchor {
  color: #fff;
  text-decoration: none;
}
.nav--li--anchor:hover {
  cursor: pointer;
}

.cross {
  position: absolute;
  top: 3%;
  right: 10%;
  transform: translate(-3%, -10%);
}

.blur {
  width: 80%;
  left: 20%;
  position: absolute;
  min-height: 118.3vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  z-index: 2;
}

.hidden {
  visibility: hidden;
}

.move-in {
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
.move-out {
  animation: scale-out-hor-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-hor-right {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
}
@media (min-width: 700px) {
  .move-in {
    animation: none;
  }
  .move-out {
    animation: none;
  }
  .nav {
    position: static;
    min-height: 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible;
  }
  .nav--hamburger {
    display: none;
  }
  .nav--ul {
    min-height: 0;
    flex-direction: row;
    gap: 3rem;
    justify-content: end;
    align-items: center;
    margin-top: 0.5rem;
    padding-right: 1rem;
  }
  .nav--li--anchor {
    position: relative;
  }
  .nav--li--anchor::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -1.5rem;
    transition: 0.3s;
    z-index: 100;
  }
  .nav--li--anchor:hover::after {
    width: 100%;
  }
  .blur {
    min-height: 5rem;
    width: 70%;
    left: 30%;
  }
  .cros {
    display: none;
  }
  .order {
    display: none;
  }
  .header {
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .order {
    display: block;
    margin-right: 1rem;
  }
  .header {
    margin-top: 2rem;
  }
  .nav--li--anchor {
    display: inline-flex;
  }
  .blur {
    width: 60%;
    left: 40%;
  }
  .header--line {
    width: 50%;
    position: relative;
    z-index: 2;
    opacity: 0.4;
    background-color: #fff;
  }
}
.nav--li--anchor:focus::after {
  width: 100%;
}

/*# sourceMappingURL=navAnimation.css.map */
